{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Signup{% endblock %}


{% block content %}
    <div class="container">
        <h1>Logout</h1>
    <p>Are you sure?</p>
        <form action="{% url 'account_logout' %}" method ="POST">
            {% csrf_token %}

            {{ form|crispy }}
            <button class="btn btn-danger" type="submit">Log out</button>
        </form>


    </div>
     <h1 class="hld-primary">Welcome home</h1>

    {% if user.is_authenticated %}
        Hi {{ user.email }}
        <p><a href="{% url 'account_logout' %}">Logout</a></p>
    {% else %}
         <p>You are not logged in</p>
         <a href="{% url 'account_login' %}">Log In</a>
         <a href="{% url 'account_signup' %}">Sign Up</a>

    {% endif %}

{% endblock %}